@page
@{
    ViewData["Title"] = "Om sidan";
}

<div class="container">
    <h1 class="display-4">Om sidan</h1>
    
    <p>Jag heter Emma och lär mig just nu att använda Razor. Känner redan att jag lärt mig massor!</p>

    <p>Har även testat att publicera med Azure och det gick finfint. :)</p>
</div>