@page
@{
    ViewData["Title"] = "Start";
}

<div class="container">
    <h1 class="display-4">Välkommen</h1>
    
    <h2 class="display-6">Lite JavaScript</h2>
    <button onclick="clickedButton()" id="singlebutton">Klicka mig!</button>
</div>
